:root{
    --logo-style: "Raleway", sans-serif;
    --Primary-Brand: color: #4D5AE5;
    --Pressed-state: color: #404BBF;
    --Dark: color: #2E2F42;
    --Success: color: #31D0AA;
    --Text: color: #434455;
    --Subtle-Txt: color: #8E8F99;
    --Accent: color: #E7E9FC;
    --Light: color: #F4F4FD;
    --Modal-overlay: color: #2E2F42;
    --Hero-background: color: #2E2F42;
    --White-background: color: #FFFFFF;
    --Modal-background: color: #FCFCFC;

}

body{
font-family: 'Roboto', sans-serif;
color: var(--Text);
background-color: var(--White-background);
}

.link{
text-decoration: none;
}

.list {
list-style: none;
}

.header-logo {
    font-family: var(--logo-style);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--Pressed-state);
    text-transform: uppercase
}

.header-logo-web {
    color: var(--Dark);
}

.header-contacts {
    font-style: normal
}

.header-menu {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--Dark);
}

.header-menu-link {
color: var(--Dark);
}

.header-menu :hover {
color: var(--Pressed-state);
}

.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
}

.header-contacts-link {
    color: var(--Text);
    }

.header-contacts-item:is(:hover, :focus) {
    color: var(--Pressed-state);;
}

.hero {
background-color: var(--Dark);
}

.hero-title {
font-family: 'Roboto';
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--White-background);
background: var(--Dark);
text-align: center
}

.hero-btn {
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--White-background);
    cursor: pointer;
    background-color: var(--Primary-Brand);
}

.hero-btn:is(:hover, :focus){
    background-color: var(--Pressed-state);
}

.business-info-strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
}

.business-info-idea{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--Text);
}

.service-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--Dark);
    text-align: center
}

.service-title {
text-transform: capitalize
}

.team{
background-color: var(--Light);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--Dark);
    text-align: center
}

.team-title {
text-transform: capitalize
}

.team-list-member {
background-color: var(--White-background);
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
}

.team-list-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
}

.footer{
background-color: var(--Dark);
}

.footer-logo {
    font-family: var(--logo-style);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--Primary-Brand);
    text-transform: uppercase
}

.footer-logo-web {
    color: var(--Light);;
}

.footer-text {
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--Light);;
}

.aplication-btn-all {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  var(--Primary-Brand);
    cursor: pointer;
    background-color: var(--Light);
}

.aplication-btn-all:is(:hover, :focus) {
color: var(--White-background);
background-color: var(--Pressed-state);
}

.aplication-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark);
}
.aplication-post {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Text);
}
